.service-h1{
    display: flex;
    justify-content: center;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.service-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(270deg, #089fdf 10%, #B415FF 100%);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 550px;
}

.service-para {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
  margin: 10px auto;
  text-align: justify;
}

@media (max-width: 768px) {
  .parent-container{
    margin-top: 30px;
  }
  .service-right {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
  }

  .service-para {
    font-size: 14px;
    line-height: 1.6;
    margin: 10px auto;
  }
}
